<!DOCTYPE html>
<html>
  <head>
    <title>Cloudcast</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <style>
      @import url('https://fonts.googleapis.com/css?family=Open+Sans');
    </style>
  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
