<!DOCTYPE html>
<html>
  <head>
    <title>Cloudcast</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
    rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <%= favicon_link_tag asset_path('cloud.png') %>
  </head>

  <body>
    <script type="text/javascript">
      window.towers = "<%= image_url('towers_blue.jpg') %>"
    </script>

    <%= yield %>
  </body>
</html>
